.fighter-preview___root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 250px;
  font-family: 'single_fighterregular';
  font-size: larger;
  color: #ffecbe;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.flipped {
  transform: scaleX(-1);
}

.fighter-preview-name {
  font-size: xx-large;
  color: #df3838;
}

.fighter-preview-image {
  max-height: 40vh;
}
